section{
    padding: 4rem 0 6rem;
}

.box{
    width: 370px;
    border-radius: 50%;
}
.box:hover::before{
    inset: -20px 0px;
    box-shadow: 10px;
}

.content:hover{
    inset: 0px;
    /* animation: animate 4s linear infinite; */
    transform:scale(1.08);
    
}
.content{
    inset: 10px;
    border: 6px solid var(--skill-bar-background);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    background-color: #6457BE;
    transition: 0.3s;
}
.content img{
    position: relative ;
    top: 50px;
    left: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
}

.main-home{
    color: var(--navbar-text)
}
.home_blob{
    padding: 60px;
    fill: var(--diff-color);
}
.blob_image{
    width: 210px;
}
.home_title{
    color: var(--navbar-text);
}
.social_icon{
    color: var(--diff-color);
}
.home_social_icon{
    transition: all 0.3s ease;
}
i.home_social_icon:hover{
    color: var(--home-social-icon);

}

.home_description{
    color: var(--description);
}
.home_subtitile{
    color: var(--subtitle);
}
.home_contactme{
    color: white;
}
.home_contactme:hover{
    color: white;
}

.home_button{
    /* cursor: pointer; */
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--diff-color);
}
button:hover{
    background-color: var(--home-button-hover);
}
.home_scroll_mouse{
    color: var(--diff-color);
}
.home_scroll{
    margin-top: 40px;
    color: var(--navbar-text);
    transition: 0.3s;
    cursor: pointer;
}
.home_scroll:hover{
    transform: translatey(0.25rem);
}
.scroll_down{
    padding-bottom: 100px;
}
.scroll_down-arrow{
    color: var(--diff-color);
}
@media only screen and (max-width: 1200px) {
    .home_blob{
        /* width: 500px; */
        padding: 20px;
    }
  }

  @keyframes animate {

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }
