.navbar {
    justify-content: flex-start;
    background-color: var(--navbar-background);
    transition: box-shadow 0.3s ease;
  }  
  .scrolled {
    box-shadow: 0 2px 4px var(--scroll-navbar-shadow);
  }
.navbar-toggler {
    transition: transform 0.8s ease;
    /* background-color: transparent; */
}
.collapsed {
    transition: transform 0.8s ease;
    transform: rotate(90deg);
}
.navbar-toggler,
a.navbar-brand{
    color: var(--navbar-text);
}

.navbarheader{
    background-color: var(--navbar-background);
    color: var(--navbar-text);
}
.navbar-nav .nav-item.active .nav-link{
    color: var(--diff-color);
}
.nav-link{
    color: var(--navbar-text);
}
.nav-link:hover,
i.mode:hover{
    color: var(--diff-color);
}
a.navbar-brand:hover{
    color: var(--navbar-text);
}
.navbar-toggler:hover{
    background-color: transparent;
}

.navbar-brand{
    cursor: pointer;
}
