.portfolio_header
/* .portfolio_sectio, */
{
    margin-bottom: 125px;
}
.portfolio_container{
    margin-bottom: 50px;
}
.portfolio_content{
    overflow: initial;
}
.portfolio_title{
    color: var(--navbar-text);
}
.portfolio_subtitle{
    color: var(--subtitle);
}
.portfolio_image{
    width: 350px;
    height: auto;
    /* padding: 0; */
    /* object-fit: contain; */
    border-radius: .5rem ;
    /* justify-self: center; */
}
.portfolio_row{
    padding-left: 100px;
    padding-right: 100px;
}
.portfolio_data{
    /* padding-left: 100px; */
}

.view-more-button{
    width: max-content;
    background-color: var(--diff-color);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.portfolio_title{
    color: var(--navbar-text);
}
.portfolio_description{
    color: var(--description);
}
.view-more-button:hover{
    background-color: var(--home-button-hover);
}
.swiper-pagination-bullet-active{
    background-color: var(--diff-color);
    color: var(--description);
}

.swiper-button-prev,
.swiper-button-next{
    color: var(--diff-color);
}
/* .swiper-slide{
    width: auto;
    flex-shrink: 0;
    display: block;
    height: 100%;
    max-height: 100%;
}
.swiper-wrapper{
    max-height: max-content;
    /* height:600px; */
    /* display: flex; */
/* } */
  @media screen and (max-width: 768px) {
    .swiper-wrapper{
        /* height: 550px; */
    } 
    .swiper-button-prev:after,
    .swiper-button-next:after
          {
            font-size: 30px;
          }
  }

