.dark-theam{
  --main-backgroung: #1A1525;
  --navbar-background : #1A1525;
  --navbar-text:#FCFBFF;
  --navbar-text-color : #FCFBFF;
}
.light-theam{
  --main-backgroung: #FCFBFF;
  --navbar-background :#FCFBFF ;
  --navbar-text:#1A1525;
  --navbar-text-color : #FCFBFF;
}

body{
  background-color: var(--main-backgroung);
}